@import "tailwindcss";
@tailwind utilities;

@variant dark (.dark &);

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cl-font-family: "Inter", sans-serif;

  --cl-primary: #4f46e5;
  --cl-primary-hover: #4338ca;

  --cl-button-radius: 8px;
  --cl-input-radius: 8px;

  --cl-form-background: #ffffff;
  --cl-form-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  --cl-error: #ef4444;
  --cl-border-color: #e5e7eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --cl-form-background: #1f2937;
  --cl-primary: #818cf8;
  --cl-border-color: #374151;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
